# Build #
#########
MANIFEST.MF
dependency-reduced-pom.xml
.checkstyle
build.py

# Compiled #
############
bin
build
dist
lib
out
run
target
*.com
*.class
*.dll
*.exe
*.o
*.so
classes/

# Databases #
#############
*.db
*.sql
*.sqlite

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip

# Repository #
##############
.git

# Logging #
###########
/logs
*.log

# Misc #
########
*.bak
*.hprof

# Libraries #
#############
/libs

# System #
##########
.DS_Store
ehthumbs.db
Thumbs.db

# Project #
###########
.classpath
.externalToolBuilders
.gradle
.nb-gradle
.idea
.project
.settings
eclipse
nbproject
atlassian-ide-plugin.xml
build.xml
nb-configuration.xml
*.iml
*.ipr
*.iws

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

.nb-gradle-properties
VERSION
