<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <logger name="tallworlds" level="INFO"/>
  <logger name="CubeIO" level="INFO"/>
  <logger name="GenPipeline" level="INFO"/>
  <logger name="CubePlayerManager" level="DEBUG"/>

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>